* {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial;
	color: white;
	min-height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("img/minecraft.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
h1{
	margin-left: 35%;
}
p{
	margin-left: 30px;
}
a{
	color: red;
}
footer{
	margin-left: 35%;
	margin-top: 200px;
}
ul{
	margin-left: 30px;
}
li{
	margin: 5px;
	margin-left: 0;
}
li a:hover{
	color: green;

}
#play {
	margin: 10px;
	margin-left: 30px;
	margin-top: 5px;
}
.part1{
	margin: 10px;
	margin-left: 30px;
}
.part2{
	margin: 10px;
	margin-left: 0;
}

.part3{
    margin: 10px;
	margin-left: 0;
}
#why{
	font-weight: bold;
	 color: #9AA0A6;
}
.diamond{
	width: 50px;
	height: 50px;
	 transform: translateY(15px);
}
.Dli{
	margin-top: -20px;
}
.grass{
	width: 50px;
	height: 50px;
	margin-left: 1050px;
	transform: translateY(-55px);
}
.haupt p{
	 font-weight: bold;
	 color: #9AA0A6;
}
@media(max-width: 374px){
	h1{
		font-size: 20px;
		margin-left: 25%;
	}
	h3{
		font-size: 15px;
	}
	footer{
	margin-left: 15%;
	margin-top: 200px;
	font-size: 10px;
}
.diamond{
	width: 20px;
	height: 20px;
	 transform: translateY(5px);
}
.Dli{
	margin-top: -5px;
}
.grass{
	width: 20px;
	height: 20px;
	margin-left: 180px;
	transform: translateY(-20px);
}
}
@media(min-width: 375px) and (max-width: 424px){
	h1{
		font-size: 20px;
		margin-left: 10%;
	}
	h3{
		font-size: 15px;
	}
	footer{
	margin-left: 15%;
	margin-top: 200px;
	font-size: 10px;
}
.diamond{
	width: 25px;
	height: 25px;
	 transform: translateY(10px);
}
.Dli{
	margin-top: -10px;
}
.grass{
	width: 20px;
	height: 20px;
	margin-left: 335px;
	transform: translateY(-20px);
}
}
@media(min-width: 425px) and (max-width: 500px){
	h1{
		font-size: 20px;
		margin-left: 20%;
	}
	h3{
		font-size: 15px;
	}
	footer{
	margin-left: 20%;
	margin-top: 200px;
	font-size: 10px;
}
.diamond{
	width: 30px;
	height: 30px;
	 transform: translateY(10px);
}
.Dli{
	margin-top: -8px;
}
.grass{
	width: 25px;
	height: 25px;
	margin-left: 380px;
	transform: translateY(-24px);
}
}
@media(min-width: 501px) and (max-width: 768px){
	h1{
		margin-left: 20%;
	}
	footer{
		margin-left: 25%;
	}
	.diamond{
	width: 35px;
	height: 35px;
	 transform: translateY(15px);
}
.Dli{
	margin-top: -15px;
}
.grass{
	width: 35px;
	height: 35px;
	margin-left: 630px;
	transform: translateY(-35px);
}
}
@media(min-width: 769px) and (max-width: 1024px){
	h1{
		margin-left: 30%;
	}
	footer{
		margin-left: 30%;
	}
	.diamond{
	width: 40px;
	height: 40px;
	 transform: translateY(15px);
}
.grass{
	width: 35px;
	height: 35px;
	margin-left: 780px;
	transform: translateY(-37px);
}
}
@media(min-width: 1025px) and (max-width: 1600px){
	footer{
		margin-left: 30%;
	}
	body{
		font-size: 25px;
	}
	h1{
		margin-left: 25%;
	}
.grass{
	width: 50px;
	height: 50px;
	margin-left: 1100px;
	transform: translateY(-55px);
}
}
@media(min-width: 1600px) and (max-width: 2560px){
	h1{
		font-size: 60px;
	}
	body{
		font-size: 40px;
	}
	footer{
		font-size: 30px;
	}
	.diamond{
	width: 80px;
	height: 80px;
	 transform: translateY(25px);
}
.Dli{
	margin-top: -35px;
}
.grass{
	width: 70px;
	height: 70px;
	margin-left: 1780px;
	transform: translateY(-70px);
}
}

